@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kumbh+Sans:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}

.menu {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5%;
}

.desktop-bar {
  display: none;
}

.header {
  width: 100%;
  background-size: cover;
  background-image: url("images/hero.png");
  padding-bottom: 30%;
}

.hint {
  margin-top: 10%;
  margin-bottom: 0;
  color: #ec5242;
}

.content-nav {
  margin-top: 12%;
  margin-left: 4%;
}

.speaker-hr {
  margin: 0;
  padding: 0;
  width: 20px;
  margin-left: 10px;
  height: 2px;
  border: 0px solid #d3d3d3;
  background: #d3d3d3;
}

.logo {
  font-size: 18px;
  color: var(--orange);
  text-decoration: none;
  background-image: url("images/orange.jpg");
  -webkit-text-fill-color: #ec5242;
  background-clip: unset;
  -webkit-background-clip: text;
  background-size: cover;
  cursor: default;
}

.logo h1 {
  margin-top: 0;
  margin-left: 10px;
  width: 60%;
}

.description {
  margin-top: auto;
  margin-left: 10px;
  width: 85%;
  padding: 3%;
  color: #272a31;
  border: 2mm solid #fff;
}

.date {
  font-size: 25px;
  font-weight: 700;
  margin-left: 10px;
  color: #272a31;
}

.location {
  margin-left: 10px;
  color: #272a31;
}

.main-program {
  background-image: url("images/black-background.jpg");
  width: 100%;
  background-size: cover;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
}

.program-content-nav {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.section-title {
  color: #d3d3d3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.section-line {
  border-color: #ec5242;
  width: 10%;
  height: 1%;
  margin: 5px auto;
  color: #ec5242;
  background: #ec5242;
}

.program-content {
  margin: auto 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(39, 42, 49, 0.5);
}

.program-content img {
  width: 7%;
  height: 7%;
}

.content-title {
  color: #ec5242;
  font-size: 16px;
  font-weight: 600;
}

.content-description {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  word-wrap: break-word;
  flex-basis: 50%;
}

.join-us {
  background-color: #ec5242;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 5%;
  margin: 5% auto;
  cursor: pointer;
}

.see-program {
  display: none;
}

.speakers .section-title {
  color: #272a31;
  margin-top: 3%;
}

.speakers {
  background-color: #fff;
}

.speakers-nav {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

.speaker {
  background-image: url("images/chess.jpg");
  background-size: 12%;
  background-position-x: 1%;
  background-position-y: 2%;
  background-repeat: no-repeat;
  width: 100%;
  margin: 3% 3%;
  display: flex;
  align-items: flex-start;
  column-gap: 15px;
}

.expanded {
  display: none;
}

.speaker img {
  width: 25%;
  height: 75%;
  padding: 2%;
  margin-top: 8px;
}

.speaker p {
  padding: 0 4%;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
}

.speaker-name {
  color: #272a31;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}

.speaker-position {
  color: #ec5242;
  font-size: 12px;
  margin: 0;
  font-style: italic;
}

.speaker-bio {
  font-weight: 500;
  font-size: 12px;
}

.more-button {
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d3;
  width: 95%;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

.more-button img {
  fill: #ec5242;
}

footer {
  display: none;
}


.nav-menu {
  display: none;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;
}

.menu-list {
  list-style: none;
  margin-left: 5%;
  margin-top: 0;
  padding: 0;
  row-gap: 12px;
}

.mobile-nav a {
  text-decoration: none;
  color: #d3d3d3;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

.close {
  background-color: transparent;
  color: #ec5242;
  margin-right: 5%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .desktop-bar {
    display: flex;
    flex-direction: column;
  }

  .tool-bar {
    background-color: #272a31;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: center;
  }

  .logo {
    font-size: 32px;
    -webkit-text-fill-color: transparent;
  }

  .tool-bar-item {
    color: #fff;
    cursor: pointer;
  }

  .last-item {
    margin-right: 18%;
  }

  .navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    width: 30%;
    column-gap: 10px;
  }

  .nav-logo img {
    width: 20%;
  }

  .nav-list {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item a {
    text-decoration: none;
    color: #ec5242;
  }

  .nav-item {
    cursor: pointer;
    color: #272a31;
  }

  .cc-campaign {
    display: flex;
    align-items: center;
    border: #ec5242;
    border-style: solid;
    border-width: 2px;
    padding: 1%;
    color: #ec5242;
    cursor: pointer;
  }

  .header {
    padding-bottom: 10%;
  }

  .content-nav {
    margin-left: 10%;
    margin-top: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .hint {
    font-size: 22px;
    font-weight: 500;
  }

  .description {
    width: 60%;
  }

  .main-program {
    flex-wrap: wrap;
  }

  .program-content-nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .program-content {
    flex-direction: column;
    margin: 2px;
    width: 12%;
    padding: 2%;
    text-align: center;
    justify-content: start;
    row-gap: 12px;
    height: 200px;
  }

  .program-content:hover {
    border: #d3d3d3;
    border-style: solid;
    border-width: 1px;
  }

  .program-content img {
    width: 25%;
    height: 20%;
  }

  .content-title {
    font-size: 20px;
    font-weight: 600;
  }

  .content-description {
    color: #d3d3d3;
  }

  .program-content p {
    margin: 0;
  }

  .join-us {
    display: none;
  }

  .see-program {
    display: block;
    color: #d3d3d3;
    font-weight: 600;
    margin-top: 5%;
  }

  .speaker {
    width: 40%;
    background-image: url("images/chess-desktop.png");
    background-position-y: 8px;
    background-position-x: 2px;
    padding: 0.5%;
    background-size: 10%;
  }

  .speakers-nav {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 12px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .expanded {
    display: flex;
  }

  .logo-link {
    display: contents;
  }

  .more-button {
    display: none;
  }

  footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner {
    background-color: #272a31;
    padding-top: 20px;
    width: 100%;
  }

  .logos {
    width: 100%;
    margin-top: 3%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    column-gap: 5%;
    flex-wrap: wrap;
  }

  .logos img {
    width: 8%;
    height: 8%;
    margin: 0;
  }

  .copy-rights {
    padding: 1% 0;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .copy-rights img {
    height: 5%;
    width: 5%;
  }

  .partner hr {
    margin-top: 2%;
    width: 2%;
  }
}
