@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kumbh+Sans:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "cocogoose", "lato", sans-serif;
}

.about-header {
  background: url("images/hero.png");
  background-size: cover;
}

.menu {
  margin-top: 12px;
  margin-left: 12px;
  cursor: pointer;
}

.about-nav {
  margin: 0;
  width: 100%;
  padding-bottom: 15%;
  text-align: center;
}

.desktop-bar {
  display: none;
}

.hint {
  color: #ec5242;
}

.logo {
  font-size: 22px;
  text-decoration: none;
  width: 40%;
  margin: 0 auto;
  color: #ec5242;
}

.about-description {
  width: 85%;
  height: 25vh;
  padding: 3%;
  line-height: 1.5;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #272a31;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
}

.about-description span {
  display: none;
}

.contact {
  color: #272a31;
  padding-bottom: 0.3%;
  margin-top: 10%;
}

.email {
  color: #272a31;
  text-decoration: underline;
  font-weight: 600;
}

.logo-description {
  color: #272a31;
  background-color: #fff;
  text-align: center;
  padding-top: 10%;
}

.logo-image {
  width: 60%;
  margin: 15px auto;
  border-style: solid;
  border-width: 0.5px;
  border-color: #d3d3d3;
}

.past-summits {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.past-summit-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.past-summits p {
  color: #272a31;
}

.past-summit {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 300px;
}

.past-summit img {
  width: 100%;
  height: 300px;
}

.past-summit p {
  margin: 0;
}

.overlay {
  background-color: rgb(236, 82, 66, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
}

.overlay p {
  z-index: 2;
  color: #fff;
  font-weight: 500;
}

footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner {
  background-color: #272a31;
  padding-top: 20px;
}

.logos {
  width: 100%;
  margin-top: 25px;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.logos img {
  width: 25%;
  height: 25%;
  margin: 0;
}

.copy-rights {
  padding: 8% 0;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.copy-rights img {
  height: 12%;
  width: 12%;
}

.section-line {
  border-color: #ec5242;
  width: 10%;
  height: 1%;
  margin: 5px auto;
  background: #ec5242;
}

.section-title {
  margin-bottom: 10px;
  color: #272a31;
}

.nav-menu {
  display: none;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;
}

.menu-list {
  list-style: none;
  margin-left: 5%;
  margin-top: 0;
  padding: 0;
  row-gap: 12px;
}

.mobile-nav a {
  text-decoration: none;
  color: #d3d3d3;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

.close {
  background-color: transparent;
  color: #ec5242;
  margin-right: 5%;
  cursor: pointer;
}

.past-summit-description {
  width: 65%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .desktop-bar {
    display: flex;
    flex-direction: column;
  }

  .tool-bar {
    background-color: #272a31;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: center;
  }

  .tool-bar-item {
    color: #fff;
    cursor: pointer;
  }

  .last-item {
    margin-right: 18%;
  }

  .navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    width: 30%;
    column-gap: 10px;
  }

  .logo-link {
    display: contents;
  }

  .nav-logo img {
    width: 20%;
  }

  .nav-list {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item a {
    text-decoration: none;
    color: #ec5242;
  }

  .nav-item {
    cursor: pointer;
    color: #ec5242;
  }

  .cc-campaign {
    display: flex;
    align-items: center;
    border: #ec5242;
    border-style: solid;
    border-width: 2px;
    padding: 1%;
    color: #ec5242;
    cursor: pointer;
  }

  .logo {
    font-size: 32px;
  }

  .about-description {
    height: 30vh;
    width: 60%;
  }

  .about-description span {
    display: inline;
  }

  .partner {
    display: none;
  }

  .copy-rights {
    background-color: #272a31;
    padding: 2% 0;
    width: 100%;
  }

  .footer-logo {
    width: 5%;
  }

  .copyrights {
    color: #fff;
  }

  .logo-description {
    padding: 3%;
  }

  .logo-image {
    width: 40%;
  }

  .section-line {
    width: 10%;
  }

  .past-summit-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
  }

  .past-summit {
    width: 30%;
  }
}
